Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [35]:
lis = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
s = sorted(lis,key

[<function <lambda> at 0x7f851f70dc60>]
[['Sachin Tendulkar', 34357], ['Ricky Ponting', 27483], ['Jack Kallis', 25534], ['Virat Kohli', 24936]]

TypeError: 'NoneType' object is not iterable

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a =list( map(lambda x:x**2,numbers))
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [17]:
String= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
l=[]
for i in String:
    l.append(str(i))
print(tuple(l))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [14]:
import functools
l=[]
for i in range(1,26):
    l.append(i)
print(l)
a = functools.reduce(lambda x,y:x*y,l)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
15511210043330985984000000

In [16]:
# or
import functools
import operator
l=[]
for i in range(1,26):
    l.append(i)
print(l)
a = functools.reduce(operator.mul,l)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
15511210043330985984000000

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [19]:
lis =  [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
a = filter (lambda x:x%2==0 and x%3==0 ,lis)
print(list(a))

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [26]:
lis = ['python', 'php', 'aba', 'radar', 'level']
w = ""
a = filter(lambda x : x== "".join(reversed(x)) ,lis)
print("palindromes : \n",list(a))

palindromes :
 ['php', 'aba', 'radar', 'level']